<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Rethink-Enhancing the Online Platform</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    <!-- Custom styles for this template -->
    <link href="static/cover.css" rel="stylesheet">
  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <a class="navbar-brand mr-4" href="/"><img src="static/rethink.png" width="300" height="120"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="/">Home</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover" style="">
        <h1 class="cover-heading">Rethink - Enhancing the Online Platform</h1>
        <p class="lead">Rethink is a revolutionary platform that allows students to record and upload their lectures. Our program summarizes the lecture into notes, translates it into english(in development),identifies and defines key words, all using speech to text libraries. </p>
        <p class="lead">
          <a href="/transcript" class="btn btn-lg btn-secondary">Transcript</a>
          <a href="/summary" class="btn btn-lg btn-secondary">Summary</a>


<html>
<body>

</body>
</html>

        
          <a href="/keywords" class="btn btn-lg btn-secondary">Keywords</a>
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">

        </div>
      </footer>
    </div>


  </body>
</html>
